<div metal:define-macro="footer_includes">
    <script type="text/javascript">
        /*<![CDATA[*/
        if ( typeof config == 'undefined' ) {
            config = {} ;
        }
        config.userMail  = '${userMail}';
        config.userFullName = "${extended_user}";
        config.userShortName = "${logged_user}";
        config.isLoggedIn = ${isLoggedIn|string:false};
        config.gdriveAuthURL = ${structure php:json_encode(gdriveAuthURL)} ;
        config.authURL = ${structure php:json_encode(authURL)} ;
        config.dqf_enabled = ${dqf_enabled} ;
        config.googleDriveEnabled = ${googleDriveEnabled};
        /*]]>*/

    <tal:block tal:repeat="config_data config_js">
        /*<![CDATA[*/
        config.pluggable = ${structure php: json_encode( config_data )} ;
        /*]]>*/
    </tal:block>

    <tal:block tal:condition="dqf_enabled">
        /*<![CDATA[*/
        config.dqf_content_types = ${structure php: json_encode( dqf_content_types )} ;
        config.dqf_industry      = ${structure php: json_encode( dqf_industry )} ;
        config.dqf_process       = ${structure php: json_encode( dqf_process )} ;
        config.dqf_quality_level = ${structure php: json_encode( dqf_quality_level )} ;
        /*]]>*/
    </tal:block>

    <tal:block tal:condition="exists: dqf_active_on_project">
        /*<![CDATA[*/
        config.dqf_selected_content_types = ${ dqf_selected_content_types } ;
        config.dqf_selected_industry      = ${ dqf_selected_industry } ;
        config.dqf_selected_process       = ${ dqf_selected_process } ;
        config.dqf_selected_quality_level = ${ dqf_selected_quality_level } ;
        config.dqf_active_on_project      = ${ php: json_encode( dqf_active_on_project ) } ;
        /*]]>*/
    </tal:block>

    <tal:block tal:condition="php: !empty(flashMessages)">
        /*<![CDATA[*/
        config.flash_messages = ${structure php: json_encode(flashMessages)} ;
        /*]]>*/
    </tal:block>

    <tal:block tal:condition="php: !empty(globalMessage)">
        /*<![CDATA[*/
        config.global_message = ${structure php: json_encode(globalMessage)} ;
        /*]]>*/
    </tal:block>

    </script>

    <tal:block  tal:repeat="js_source footer_js">
        <script type="text/javascript" tal:attributes="src js_source"></script>
    </tal:block>

    <tal:block  tal:repeat="css_url css_resources">
        <link rel="stylesheet" tal:attributes="href css_url"/>
    </tal:block>


    <div id="modal" style="z-index: 999999999"></div>
</div>


<div metal:define-macro="login_includes">
    <tal:block tal:condition="php: empty(logged_user)">
        <!--div class="position-sing-in">
            <div class="ui user-nolog label open-login-modal sing-in-header" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42">
                    <path
                            fill="#09C"
                            fill-rule="evenodd"
                            stroke="none"
                            stroke-width="1"
                            d="M11.878 0C5.318 0 0 5.319 0 11.879c0 6.56 5.318 11.877 11.878 11.877 6.56 0 11.878-5.317 11.878-11.877C23.756 5.318 18.438 0 11.878 0zm0 3.552a3.929 3.929 0 110 7.858 3.929 3.929 0 010-7.858zm-.003 17.098A8.717 8.717 0 016.2 18.557a1.674 1.674 0 01-.588-1.273c0-2.2 1.781-3.96 3.982-3.96h4.571a3.956 3.956 0 013.975 3.96c0 .49-.214.954-.587 1.272a8.714 8.714 0 01-5.677 2.094z"
                            transform="translate(9 9)"
                    />
                </svg>
            </div>
        </div !-->
    </tal:block>

    <tal:block tal:condition="php: !empty(logged_user)">
        <div class="user-menu-container ui floating pointing top right dropdown" id="user-menu-dropdown">
            <div class="ui user circular image ui-user-top-image">${logged_user}</div>
            <div class="organization-name"></div>
            <div class="menu">
                <div class="item" data-value="manage" id="manage-item">My Projects</div>
                <div class="item" data-value="profile" id="profile-item">Profile</div>
                <div class="item" data-value="logout" id="logout-item">Logout</div>
            </div>
        </div>
    </tal:block>
</div>
